<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>Controllers.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUserController</servlet-name>
        <servlet-class>Controllers.ProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>Controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageHomeController</servlet-name>
        <servlet-class>Controllers.ManageHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePostsController</servlet-name>
        <servlet-class>Controllers.ManagePostsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersController</servlet-name>
        <servlet-class>Controllers.ManageUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCommentsController</servlet-name>
        <servlet-class>Controllers.ManageCommentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoriesController</servlet-name>
        <servlet-class>Controllers.ManageCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTopicsController</servlet-name>
        <servlet-class>Controllers.ManageTopicsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTagsController</servlet-name>
        <servlet-class>Controllers.ManageTagsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>Controllers.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMessagesController</servlet-name>
        <servlet-class>Controllers.ManageMessagesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutmeController</servlet-name>
        <servlet-class>Controllers.AboutmeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicController</servlet-name>
        <servlet-class>Controllers.TopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribesController</servlet-name>
        <servlet-class>Controllers.SubscribesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagController</servlet-name>
        <servlet-class>Controllers.TagController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCommentPostController</servlet-name>
        <servlet-class>Controllers.EditCommentPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>Controllers.QuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUserController</servlet-name>
        <url-pattern>/ProfileUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersController</servlet-name>
        <url-pattern>/ManageUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCommentsController</servlet-name>
        <url-pattern>/ManageCommentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTopicsController</servlet-name>
        <url-pattern>/ManageTopicsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTagsController</servlet-name>
        <url-pattern>/ManageTagsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePostsController</servlet-name>
        <url-pattern>/ManagePostsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoriesController</servlet-name>
        <url-pattern>/ManageCategoriesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageHomeController</servlet-name>
        <url-pattern>/ManageHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMessagesController</servlet-name>
        <url-pattern>/ManageMessagesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutmeController</servlet-name>
        <url-pattern>/AboutmeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicController</servlet-name>
        <url-pattern>/TopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribesController</servlet-name>
        <url-pattern>/SubscribesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagController</servlet-name>
        <url-pattern>/TagController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCommentPostController</servlet-name>
        <url-pattern>/EditCommentPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/QuestionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
